<div class='product-details-wrapper'>

    <form *ngIf="product != null">
        <mat-form-field style="width:100%">
          <input placeholder="Product Name" matInput />
        </mat-form-field >
        <mat-form-field style="width:100%">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
      
        <mat-form-field style="width:100%">
          <mat-select placeholder="Company">
            <mat-option *ngFor="let company of companies" value="company.id">{{company.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <!-- <hr style="" /> -->
      <div style="display:flex; justify-content:flex-end">
        <button mat-button>SAVE</button>
      </div>
      </form>
      
  
</div>



