<div id="container" style="display:flex; justify-content: center; align-items: center; background-color: #E6E9EF">
  <div style='height: 180px; width: 300px; background-color: #fff;padding:10px'>
    <mat-form-field style="width:100%">
      <input placeholder="User Name" matInput [(ngModel)]="user.username" name="user.username" />
    </mat-form-field>
    <mat-form-field style="width:100%">
      <input placeholder="Password" type="password" matInput [(ngModel)]="user.password" name="user.password" />
    </mat-form-field>
    <div style="display:flex; justify-content:flex-end">
      <button mat-button (click)="cancel()" color="primary">Cancel</button>
      <button mat-button (click)="login()" color="primary">Login</button>
    </div>
  </div>
</div>